@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    /*Colores*/
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #08CB00;
    --color-hover: #272727;
    /*Fuentes*/
    --fuente-montserrat: "montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
    --tamaño-fuente-1: 1.5rem;
    --tamaño-fuente-2: 2.25rem;
}

*{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 2% 2% 2%;
    background-color: #08CB00;
}

.header_contenido{
    display: flex;
    font-size: var(--tamaño-fuente-2);
    font-family: var(--fuente-montserrat);
    font-weight: 600;
}

body {
    background-color: var(--color-primario) ;
    color : var(--color-secundario);
    box-sizing: border-box;
}

.boton{
    font-family: "montserrat", sans-serif;
    font-size: 1.5rem;
    padding: 12px 30px;
    border-radius: 25px;
    border: 2px solid var(--color-terciario);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.boton:hover{
     background-color: var(--color-hover);
     transform: scale(1.05); 
}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: center; /* Todo centrado horizontalmente */
    gap: 20px; /* Espacio entre elementos */
    margin-top: 30px;
    position: relative; /* Para poder posicionar el botón y formulario absoluto */
}

.contenido_primera_eleccion{
    display: flex;
    flex-direction: column;
    gap: 10px; 

}

.nombre{
    font-size: var(--tamaño-fuente-1);
    font-family: var(--fuente-krona);
    color: var(--color-secundario);
}

.caja_input{
    font-family: var(--fuente-krona);
    padding: 2%;
    width: 250px;
    padding: 10px 12px;
    border: 2px solid var(--color-terciario);
    border-radius: 10px;
    transition: all 0.3s ease;
    font-size: 1rem;
}

.boton_ingresar{
    font-size: 0.9rem;
    font-family: "montserrat", sans-serif;
    background-color: var(--color-secundario);
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid var(--color-terciario);
    transition: all 0.3s ease;
    
}

.boton_ingresar:hover{
     background-color: var(--color-hover);
     transform: scale(1.05); 
}

.contenido_elecciones{
    display: flex;
    flex-direction: column;
    align-items: center; /* Todo centrado horizontalmente */
    gap: 25px; /* Espacio entre elementos */
    margin-top: 30px;
    position: relative;
    font-size: var(--tamaño-fuente-1);
    font-family: var(--fuente-krona);
    color: var(--color-secundario);
}

.contenido_elecciones_lista{
    background-color: var(--color-terciario);
    border-radius: 15px;
    margin-top: 15px;
    color: #000000;
}

.contenido_elecciones_texto{
    margin-top: 30px;
}